@model IEnumerable<DH52110843_web_quan_ly_khach_san_homestay.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hotelId = ViewBag.HotelId;
}

<div class="container mt-5">
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <a asp-action="Index" asp-controller="Booking" class="btn btn-secondary">← Quay lại</a>
        </div>
    </div>
    <h2 class="m-0">Đơn đặt phòng</h2>

    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Đơn đặt phòng
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="table-responsive">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Mã đặt phòng</th>
                        <th>Loại phòng</th>
                        <th>Số lượng</th>
                        <th>Khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Ngày nhận</th>
                        <th>Ngày trả</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BookingId</td>
                            <td>@item.roomType.TypeName</td>
                            <td>@item.Bookingrooms.Count()</td>
                            <td>@item.User.FullName</td>
                            <td>@item.User.PhoneNumber</td>
                            <td>@item.CheckInDate.ToShortDateString()</td>
                            <td>@item.CheckOutDate.ToShortDateString()</td>
                            <td>
                                @(item.TotalAmount) VND
                            </td>

                            @if(item.Status == 0)
                            {
                                <td>
                                    Chưa thanh toán
                                </td>
                                <td>
                                    <a class="btn btn-primary" onclick="return confirmPayment();" asp-route-hotelId="@hotelId" asp-route-num="1" asp-route-id="@item.BookingId" asp-action="updateStatus">Xác nhận thanh toán</a>
                                </td>
                            }
                            else if (item.Status == 1)
                            {
                                <td>
                                    Đã thanh toán
                                </td>
                                <td>
                                    <a class="btn btn-primary" onclick="return confirm();" asp-route-hotelId="@hotelId" asp-route-num="3" asp-route-id="@item.BookingId" asp-action="updateStatus">Xác nhận đã nhận</a>
                                </td>
                            }
                            else if (item.Status == 2)
                            {
                                <td>
                                    Đã hủy
                                </td>
                            }
                            else
                            {
                                <td>
                                    Đã nhận
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="m-0">Không có đơn đặt phòng nào</h2>
            </div>
        }

    </div>
</div>
@section Scripts {
    <script>
        function confirmPayment() {
            return confirm("Bạn có chắc chắn muốn xác nhận thanh toán không?");
        }
        function confirm() {
            return confirm("Bạn có chắc chắn muốn xác nhận đã nhận không?");
        }
    </script>
}